<!DOCTYPE html>
<html>
  <head>
    <link rel="shortcut icon" type="png" href="../public/images/logo baru hima.png" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Comaptible" content="IE=edge" />
    <title>Study Club App</title>
    <meta name="desciption" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="../public/css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sora:wght@100..800&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type="text/javascript" src="../public/js/script.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
    <script>
      $(window).on("scroll", function () {
        if ($(window).scrollTop()) {
          $("nav").addClass("black");
        } else {
          $("nav").removeClass("black");
        }
      });
    </script>
  </head>
  <body>
    <!-- Navigation Bar -->
    <header id="header">
      <nav>
        <div class="logo"><img src="../public/images/logo baru hima.png" alt="logo" /></div>
        <div class="logo-text">
          <span style="color: #FF7F3E">STUDY</span>
          <span style="color: #003285">CLUB APP</span>
        </div>
        <ul>
          <li><a class="active" href="">Beranda</a></li>
          <li><a href="#subject_section">Topik</a></li>
          <li><a href="#about_section">Tentang</a></li>
          <li><a href="#services_section">Learning Centre</a></li>
          <li><a href="#contactus_section">Kontak</a></li>
        </ul>
        <div class="srch">
          <input type="text" class="search" placeholder="Cari di sini..." /><img
            src="../public/images/icon/search.png"
            alt="search"
            onclick="slide()"
          />
        </div>
        <a class="get-started" href="../public/login.html">Daftar Baru atau Masuk</a>
        <img
          src="../public/images/icon/menu.png"
          class="menu"
          onclick="sideMenu(0)"
          alt="menu"
        />
      </nav>
      <div class="head-container">
        <div class="quote">
          <span style="font-family: Kadwa, sans-serif; color: #003285"
            >STUDY CLUB</span
          ><br />
          <span style="font-family: Kadwa, sans-serif; color: #FF7F3E;">APP</span> <br />
          <div class="hero-subtitle">
            <span style="font-family: 'Open Sans'; color: #2A629A">Menggali Potensi dengan Berkolaborasi</span>
          </div>
          <div class="play">
            <img src="../public/images/icon/play.png" alt="play" /><span
              ><a
                href="https://www.youtube.com/watch?v=evjVo-ysR34&t=33s"
                target="_blank"
                >Watch Now</a
              ></span
            >
          </div>
        </div>
        <div class="svg-image">
          <img src="../public/images/extra/svg1.jpg" alt="svg" />
        </div>
      </div>
      <div class="side-menu" id="side-menu">
        <div class="close" onclick="sideMenu(1)">
          <img src="../public/images/icon/close.png" alt="" />
        </div>
        <div class="user">
          <img src="../public/images/Logo Kabinet24 (1).png" alt="Username" />
          <p>Admin</p>
        </div>
        <ul>
          <li><a href="#active">Beranda</a></li>
          <li><a href="#subject_section">Topik</a></li>
          <li><a href="#services_section">Learning Centre</a></li>
          <li><a href="#about_section">Tentang</a></li>
          <li><a href="#contactus_section">Kontak</a></li>
          <li><a href="#feedBACK">Umpan Balik</a></li>
        </ul>
      </div>
    </header>

    <!-- Some Popular Subjects -->
    <div class="title" id="subject_section">
      <span>Choose Your Interest</span>
    </div>
    <br /><br />
    <div class="course">
      <center>
        <div class="cbox">
          <div class="det">
            <a href="../public/subjects/jee.html"
              ><img src="../public/images/artificial-intelligence_900961.png" />Intelligent Device</a
            >
          </div>
          <div class="det">
            <a href="../public/subjects/gate.html"
              ><img src="../public/images/component_14728622.png" />Embeddded System</a
            >
          </div>
          <div class="det">
            <a href="../public/subjects/jee.html#sample_papers"
              ><img src="../public/images/wireless_11390613.png" />Network & Security</a
            >
          </div>
        </div>
      </center>

    <!-- ABOUT -->
    <div class="diffSection" id="about_section">
      <center><p style="font-size: 50px; padding: 100px">About</p></center>
      <div class="about-content">
        <div class="side-image">
          <img class="sideImage" src="../public/images/Desain tanpa judul.jpg" />
        </div>
        <div class="side-text">
          <h2>Study Club App</h2>
          <p>
            Website study club adalah platform online yang dirancang untuk mendukung kegiatan belajar kelompok atau klub belajar, memfasilitasi komunikasi, kolaborasi, dan akses ke sumber daya belajar. Fitur utama biasanya mencakup forum diskusi untuk mengajukan pertanyaan dan berbagi informasi, repository materi belajar untuk mengunggah dan mengunduh dokumen, kalender acara untuk menjadwalkan pertemuan dan kegiatan, ruang virtual untuk pertemuan online, serta sistem manajemen tugas dan penilaian. Selain itu, website ini juga sering menyediakan fitur untuk berbagi catatan, mengadakan kuis, dan berkolaborasi dalam proyek, sehingga anggota dapat belajar lebih efektif dan terorganisir.
          </p>
        </div>
      </div>
    </div>

    <!-- SERVICES -->
    <div class="service-swipe">
      <div class="diffSection" id="services_section">
        <center>
          <p
            style="
              font-size: 50px;
              padding: 100px;
              padding-bottom: 40px;
              color: #ffffff;
            "
          >
            Learning Centre
          </p>
        </center>
      </div>
      <a href="../public/services/computer_courses.html"
        ><div class="s-card">
          <img src="../public/images/icon/computer-courses.png" />
          <p>KURSUS GRATIS</p>
        </div></a
      >
      <a href="../public/services/jee.html"
        ><div class="s-card">
          <img src="../public/images/icon/brainbooster.png" />
          <p>FORUM KOMUNITAS</p>
        </div></a
      >
      <a href="../public/services/samplepaper.html"
        ><div class="s-card">
          <img src="../public/images/icon/papers.jpg" />
          <p>CONTOH DAN REFERENSI JURNAL</p>
        </div></a
      >
      <a href="../public/subjects/conversation.html"
        ><div class="s-card">
          <img src="../public/images/icon/discussion.png" />
          <p>DISKUSI DENGAN PELAJAR</p>
        </div></a
      >
      <a href="../public/subjects/quiz.html"
        ><div class="s-card">
          <img src="../public/images/icon/q1.png" />
          <p>QUIZ TEST IQ</p>
        </div></a
      >
      <a href="../public/subjects/project.html"
        ><div class="s-card">
          <img src="../public/images/icon/pngwing.com (1).png" />
          <p>CARI PROJEK</p>
        </div></a
      >
    </div>

    <!-- Sliding Information -->
    <marquee
      style="
        background: linear-gradient(to right, #ffda78, #003285);
        margin-top: 50px;
      "
      direction="left"
      onmouseover="this.stop()"
      onmouseout="this.start()"
      scrollamount="20"
      ><div class="marqu">"HIMA TEKKOM PRESENT.”</div></marquee
    >

    <!-- CONTACT US -->
	<div class="diffSection" id="contactus_section">
		<center><p style="font-size: 50px; padding: 100px">Contact Us</p></center>
		<div class="csec"></div>
		<div class="back-contact">
			<div class="cc">
			<form action="mailto:tekom_cibiru@upi.edu.com" method="post" enctype="text/plain ">
				<label>Username <span class="imp">*</span></label><br>
				<center>
				<input type="text" name="" style="width: 100%" required="required" placeholder="Can be Anonymus..."><br>
				</center>
				<label>Email <span class="imp">*</span></label><br>
				<input type="email" name="mail" style="width: 100%" required="required"><br>
				<label>Message <span class="imp">*</span></label><br>
				<input type="text" name="message" style="width: 100%" required="required"><br>
				<label>Additional Details</label><br>
				<textarea name="addtional"></textarea><br>
				<button type="submit" id="csubmit">Send Message</button>
			</form>
			</div>
		</div>
	</div>

    

    <!-- FOOTER -->
    <footer class="footer">
      <div class="footer-left">
          <h1 style="color: #fff">Our Newsletter</h1>
            <div class="border"></div>
            <br />
            <p style="color: #fff;">Enter Your Email to get our News and updates.</p>
            <form class="newsletter-form">
              <input class="txtb" type="email" placeholder="Enter Your Email" />
              <input class="btn" type="submit" value="Submit" />
            </form>
      </div>
  
      <div class="footer-center">
          <div>
              <i class="fa fa-map-marker"></i>
              <p><span>Indonesia</span> Jl. Raya Cibiru Km. 15 Bandung

              </p>
          </div>
          <div>
              <i class="fa fa-phone"></i>
              <p><a href="tel:+62 (22) 7801840">+62 (22) 7801840</p>
          </div>
          <div>
              <i class="fa fa-envelope"></i>
              <p><a href="mailto:tekom_cibiru@upi.edu">tekom_cibiru@upi.edu</a></p>
          </div>
      </div>
  
      <div class="footer-right">
          <p class="footer-about">
              <span>About</span>
              Teknik Komputer UPI merupakan program studi Teknik Komputer 
              pertama untuk jenjang S1 di Jawa Barat yang ada di Perguruan Tinggi Negeri.
          </p>
          <div class="footer-media">
              <a href="https://www.youtube.com/channel/UCB7cJpgISgx-81d_PyV6DGQ"><i class="fa fa-youtube"></i></a>
              <a href="https://www.facebook.com/TekomUPI/"><i class="fa fa-facebook"></i></a>
              <a href="https://twitter.com/tekomupicibiru"><i class="fa fa-twitter"></i></a>
              <a href="https://www.instagram.com/teknikkomputer.upi/"><i class="fa fa-instagram"></i></a>
              <a href="#"><i class="fa fa-linkedin"></i></a>
          </div>
      </div>
  </footer>
  </body>
</html>
